<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create user</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/user/add" method="post">
  <input type="text" name="name" placeholder="Ввеите имя"/>
  <input type="text" name="lastName" placeholder="Ввеите второе имя"/>
  <input type="text" name="email" placeholder="Ввеите свой e-mail"/>
  <button type="submit">Добавить пользователя</button>

</form>
</body>
</html>